
    <form class="card border border-base-300 bg-base-100 shadow-sm">
      <div class="card-body gap-5">
        <div class="space-y-2">
          <h3 class="card-title">Contact Us</h3>
          <p class="text-sm text-base-content/70">
            Fill out the form below to connect with us!
          </p>
        </div>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Name</legend>
          <input type="email" class="input w-full" placeholder=" " />
          <p class="label"></p>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email</legend>
          <input type="email" class="input w-full" placeholder="you@example.com" />
          <p class="label"></p>
        </fieldset>

        </div>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Message</legend>
          <textarea class="textarea h-24 w-full" placeholder=""></textarea>
        </fieldset>

        <div class="card-actions justify-start">
          <button class="btn btn-primary btn-sm">Send</button>
          <button type="reset" class="btn btn-ghost btn-sm">Reset</button>
        </div>
      </div>
    </form>
