---
import Container from "@components/elements/Container.astro";
import Sectionhead from "@components/elements/Sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Calendar">
  <Container class="py-12 sm:py-16 lg:py-24">
    <Sectionhead>
        <Fragment slot="title">Team Calendar</Fragment>
        <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <section class="mt-10 max-w-3xl">
      <div class="alert">
        <span>
          <iframe src="https://calendar.google.com/calendar/embed?height=700&wkst=1&ctz=America%2FNew_York&showTitle=0&src=Y19jbGFzc3Jvb21kMzMyNDQ3Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285f4" style="border:solid 1px #777" width="1360" height="700" frameborder="0" scrolling="no"></iframe>
        </span>
      </div>
    </section>
  </Container>
</Layout>