---
import Container from "@components/elements/Container.astro";
import Sectionhead from "@components/elements/Sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Calendar">
  <Container class="py-12 sm:py-16 lg:py-24">
    <h1 class = "font-bold justify-self-center m-12 max-w-7xl text-7xl sm:text-3x1">
    Team Calendar
    <h1/>

    <section class="mt-10 max-w-3xl">
      <div>
        <span>
          <iframe class = "m-64 sm: w-screen h-auto" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&title=Cougar%20Claw%20Robotics&src=cm9ib3RpY3NAbGFuc2luZ2NhdGhvbGljLm9yZw&color=%23039be5" style="border:solid 1px #777" width="900" height="600" frameborder="0" scrolling="no" ></iframe>
        </span>
      </div>
    </section>
  </Container>
</Layout>