---
import { featureFlags, siteConfig } from 'site-config';
import { Icon } from 'astro-icon/components'
import Mindstorm from './elements/Mindstorm.astro';
---

<footer class="my-20 px-20">
  <p class="text-center text-sm text-base-content/60">
  <div class="flex flex-col justify-center gap-3 sm:flex-row sm:flex-wrap">


      <a href="https://www.thebluealliance.com/team/11444" class=" btn-ghost" style="margin-right: 20px">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M15.055 14.66v19.895m17.89-19.895v19.895m-17.89 0A8.945 8.945 0 0 0 24 43.5h0m8.945-8.945A8.945 8.945 0 0 1 24 43.5m0-28.824V43.5m-8.945-10.018h17.89m-17.89-10.019h17.89M12.55 4.5h22.9c.793 0 1.43.638 1.43 1.431v7.156c0 .793-.638 1.431-1.43 1.431h-22.9a1.43 1.43 0 0 1-1.43-1.43V5.93c0-.793.638-1.431 1.43-1.431" stroke-width="2"/></svg>
      </a>

      <a href="https://www.instagram.com/cougarclaw11444/" class=" btn-ghost" style="margin-right: 20px">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M7.5.75A6.75 6.75 0 0 0 .75 7.5v9a6.75 6.75 0 0 0 6.75 6.75h9a6.75 6.75 0 0 0 6.75-6.75v-9A6.75 6.75 0 0 0 16.5.75zM2.25 7.5c0-2.9 2.35-5.25 5.25-5.25h9c2.9 0 5.25 2.35 5.25 5.25v9c0 2.9-2.35 5.25-5.25 5.25h-9a5.25 5.25 0 0 1-5.25-5.25zM19.5 6.25a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0M12 7.75a4.25 4.25 0 1 0 0 8.5a4.25 4.25 0 0 0 0-8.5M6.25 12a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0" clip-rule="evenodd"/></svg>
      </a>

      <a href="https://www.thebluealliance.com/team/11444" class=" btn-ghost" style="margin-right: 20px">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M1.172 7.693A56 56 0 0 0 1 12c0 1.632.08 3.167.182 4.44c.146 1.817 1.531 3.206 3.318 3.33c1.794.125 4.305.23 7.5.23s5.706-.105 7.5-.23c1.787-.124 3.172-1.513 3.318-3.33c.102-1.273.182-2.808.182-4.44c0-1.576-.074-3.06-.172-4.307a3.73 3.73 0 0 0-3.46-3.46C17.59 4.107 15.164 4 12 4s-5.591.107-7.368.233a3.73 3.73 0 0 0-3.46 3.46M15.5 12L10 9v6z" clip-rule="evenodd"/></svg>      
      </a>

      <a href="https://github.com/Lansing-Catholic-Robotics" class=" btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M11.996 1.284a10.986 10.986 0 0 0-3.472 21.412c.548.095.722-.227.722-.517c0-.263.006-.991 0-1.91c-3.057.662-3.688-1.448-3.688-1.448a2.9 2.9 0 0 0-1.22-1.607c-.997-.682.075-.669.075-.669a2.3 2.3 0 0 1 1.683 1.131a2.34 2.34 0 0 0 3.197.914a2.34 2.34 0 0 1 .697-1.464c-2.439-.279-5.004-1.22-5.004-5.432a4.25 4.25 0 0 1 1.132-2.948a3.94 3.94 0 0 1 .107-2.907s.924-.295 3.02 1.128a10.4 10.4 0 0 1 5.503 0c2.102-1.422 3.018-1.128 3.018-1.128c.405.92.444 1.96.109 2.907a4.24 4.24 0 0 1 1.13 2.95c0 4.223-2.569 5.15-5.016 5.42a2.6 2.6 0 0 1 .752 2.026v3.041c0 .294.177.619.735.512a10.986 10.986 0 0 0-3.48-21.411"/></svg>
      </a>

  </div>
    
  </p>
  {featureFlags.showAttribution && <Mindstorm />}
</footer>
