---
import { featureFlags, siteConfig } from 'site-config';
import Mindstorm from './elements/Mindstorm.astro';
---

<footer class="my-20">
  <p class="text-center text-sm text-base-content/60">
  <div class="flex flex-col gap-3 sm:flex-row sm:flex-wrap">
      <a class="btn btn-primary w-full sm:w-auto" href="/blog">News</a>
      <a class="btn btn-outline w-full sm:w-auto" href="/daisyui">Calendar</a>
  </div>
    
  </p>
  {featureFlags.showAttribution && <Mindstorm />}
</footer>
